.instagram {
    margin-top: 50px;
    height: 70vh;
    
    &__heading {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__icons {
        display: flex; 
        align-items: center;
        gap: 0 25px;

        & > * {
            cursor: pointer;
            font-size: 40px;
        }
    }
}